<h2>Account summary</h2>
<div class="list-group">
    <div class="list-group-item">
        <h4 class="list-group-item-heading">Last transaction</h4>
        <p class="list-group-item-text">@ViewBag.LastTransactionDate</p>
        <p class="list-group-item-text">@ViewBag.LastTransactionAmount</p>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-heading">Current balance</h4>
        <p class="list-group-item-text">@ViewBag.CurrentBalance</p>
    </div>
</div>

