@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application has been designed at Redgate <a>www.red-gate.com</a> as a code kata.</p>
<p>The code is available on github.</p>
