@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Account summary</h2>
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Last transaction</h4>
                    <p class="list-group-item-text">Date</p>
                    <p class="list-group-item-text">Amount</p>
                </div>
                <div  class="list-group-item">
                    <h4 class="list-group-item-heading">Current balance</h4>
                    <p class="list-group-item-text">Amount</p>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <h2>Deposits and withdrawals</h2>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">Deposit cash</h4>
                 <form class="form-inline" role="form">
                     <div class="form-group">
                        <input type="text" class="form-control" size="10" placeholder="Enter amount">
                    </div>
                    <button type="submit" class="btn btn-default">Confirm</button>
                </form>
            </div>
            <p></p>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">Withdraw cash</h4>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" size="10" placeholder="Enter amount">
                    </div>
                    <button type="submit" class="btn btn-default">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>