@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h2>Summary</h2>
            <h4>Last transaction</h4>
            Date
            Amount
            <h4>Current balance</h4>
            Amount
        </div>

        <div class="col-md-10">
            <h2>Deposits and withdrawals</h2>
            <div class="col-md-5">
                <h4>Deposit cash</h4>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label for="cash_deposit_amount">Amount</label>
                        <input type="text" class="form-control" id="cash_deposit_amount" placeholder="Enter amount">
                    </div>
                    <button type="submit" class="btn btn-default">Confirm</button>
                </form>
            </div>
            <div class="col-md-5">
                <h4>Withdraw cash</h4>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label for="cash_withdraw_amount">Amount</label>
                        <input type="text" class="form-control" id="cash_withdraw_amount" placeholder="Enter amount">
                    </div>
                    <button type="submit" class="btn btn-default">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>