@model BankingKataWebApp.ViewModels.DepositCashViewModel

@{
    ViewBag.Title = "Cash deposit";
}

<h2>Cash deposit</h2>
@{
    if (Model.Successful)
    {
        <p>Deposit completed.</p>
    }
    else
    {
        <p>Deposit failed.</p>
    }
}
